<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post Request</title>
</head>
<body>
    <h1>Post Status</h1>
    <form th:action="@{/posts}" th:object="${post}" method="post">
        <label for="text">Your Text:</label>
        <textarea th:field="*{content}" name="text" rows="5" cols="50"></textarea>
        <button type="submit">Submit</button>
    </form>

    <h1>Post List</h1>
    <table>
        <thead>
            <tr>
                <!-- <th>ID</th>
                <th>Name</th> -->
            </tr>
        </thead>
        <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.id}"></td>
                <td th:text="${post.content}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
